.container {
  display: flex;
  justify-content: space-evenly;
}

.linkAndDropdown {
  display: flex;
  justify-content: space-around;
  font-size: 13pt;
}

.lhs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.table {
  align-self: center;
  text-align: left;
  padding-bottom: 20vh;
}

.th {
  vertical-align: top;
  padding: 4px 10px 4px 0px;
  width: 7vw;
}

.td {
  width: 26vw;
}

.td,
.th {
  border-bottom: 1px solid #a3c7ac;
}
