.posts {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

@media screen and (max-width: 1300px) {
  .posts {
    display: flex;
    flex-direction: column;
  }
  .post {
    width: max-content;
  }
}

.post {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.postCard {
  border: 1px double rgba(120, 145, 114, 0.507);
  background-color: rgba(165, 216, 186, 0.685);
  border-radius: 5px;
  padding: 15px;
  height: 100%;
  width: 95%;
}

.editPostButton {
  margin-right: 5px;
  padding: 5px;
  color: #b1dbbc;
}

.deletePostButton {
  padding: 5px;
  color: #b1dbbc;
}

.editAndDeleteButtons {
  display: flex;
  justify-self: end;
  font-size: small;
  align-self: end;
}

.toggleInputButton {
  padding: 0.3vh 1vh;
  font-size: smaller;
  font-weight: 600;
  border-radius: 3px;
  margin-right: 1vh;
  margin-left: 0.2vh;
  background-color: rgb(230, 231, 148);
  color: black;
}

.likeButton,
.toggleCommentButton {
  font-size: smaller;
  margin: 2px;
  padding: 5px 12px;
  color: #b1dbbc;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 1vw;
  min-width: fit-content;
}

.patternCard {
  overflow: hidden;
  padding: 0px 0.5vw 3vh 0.5vw;
}

.dropdown {
  display: none;
  position: absolute;
  justify-self: center;
}

.pattern:hover > .dropdown {
  z-index: 2;
  display: grid;
  position: absolute;
}

.topContainer {
  display: flex;
}

.commentsContainer {
  display: flex;
  flex-direction: column;
}

.comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.commentInput {
  width: 80%;
  padding: 5px;
  float: left;
  margin-top: 10px;
}

.deleteCommentButton {
  border: none;
  background-color: transparent;
}
.deleteCommentButton:hover {
  border: none;
  background-color: transparent;
}
