.posts {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: stretch; */
  padding-top: 20px;
  display: inline-grid;
  grid-template-columns: 48% 48%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .posts {
    display: flex;
    flex-direction: column;
  }
}

.post {
  display: flex;
  flex-direction: column;
}

.postCard {
  border: 1px double rgba(120, 145, 114, 0.507);
  background-color: rgba(165, 216, 186, 0.753);
  border-radius: 5px;
  margin: 5px;
  padding: 15px;
}

.editPostButton {
  margin-right: 5px;
  padding: 5px;
  color: #b1dbbc;
}

.deletePostButton {
  padding: 5px;
  color: #b1dbbc;
}

.editAndDeleteButtons {
  display: flex;
  justify-self: end;
  font-size: small;
  align-self: end;
}

.toggleInputButton {
  padding: 0.3vh 1vh;
  font-size: smaller;
  font-weight: 600;
  border-radius: 3px;
  margin-right: 1vh;
  margin-left: 0.2vh;
  background-color: rgb(230, 231, 148);
  color: black;
}

.likeButton,
.toggleCommentButton {
  font-size: smaller;
  margin: 2px;
  padding: 5px 12px;
  color: #b1dbbc;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.topContainer {
  display: flex;
}

.comments {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.deleteCommentButton {
  border: none;
  background-color: transparent;
}
.deleteCommentButton:hover {
  border: none;
  background-color: transparent;
}
