.register {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email,
.username,
.password,
.passwordConfirm {
  padding: 0.5em;
  align-self: baseline;
}

.button {
  margin: 1.2em;
}
