.register {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-evenly;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email,
.username,
.password,
.passwordConfirm {
  padding: 0.5em;
  align-self: baseline;
}

.button {
  margin: 1.2em;
  border-radius: 8px;
  border: 1px solid #255735;
  background-color: rgba(68, 107, 78, 0.815);
  color: #d9f0d7;
  padding: 0.4em 1.4em;
  font-size: 1.1em;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  background-color: rgba(91, 134, 102, 0.815);
}
button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #8b8b8b;
  cursor: auto;
}

.input {
  width: 22rem;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.instructions {
  /* margin-right: 0.25rem; */
  font-size: smaller;
}

.offscreen {
  position: absolute;
  left: -9999px;
}
