.addPostButton {
  padding: 0.4em 1.4em;
  font-size: 1.1em;
}

.overlay {
  background-color: rgba(193, 224, 198, 0.932);
  border-radius: 5px;
  border: 1px solid #255735;
  max-width: 50vw;
  padding: 5vh 5vw;
}

.closeOverlayBtn {
  font-weight: 500;
  float: right;
}

.patternSelectContainer {
  margin: 10px 0px;
}

.p {
  font-weight: 700;
  font-size: large;
  color: #114e09;
}

.displayPatterns {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  max-height: 35vh;
  gap: 2px;
}

.thumbnail {
  margin: 2px;
}

.chosen {
  border: 3px solid #255735;
}

.bottomContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  align-items: center;
}

.uploadImageContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.inputAndButton {
  padding-bottom: 15px;
}

.uploadImgBtn {
  padding: 4px 16px;
}

.uploadPostButton {
  padding: 0.5vh 2vw;
  font-size: large;
  font-weight: 600;
}
.uploadPostButton:disabled {
  pointer-events: auto;
}

.captionAndPostBtn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: space-between;
}

.caption {
  margin-bottom: 25px;
  width: 17vw;
}
