.listCards {
  overflow-x: hidden;
  align-items: center;
}

.listCard {
  display: flex;
  flex-direction: column;
  width: 75vw;
  align-items: center;
  justify-self: center;
  padding: 20px 80px;
  background-color: rgb(177, 219, 188);
  border-radius: 5px;
  font-size: large;
}

.patternCards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding-bottom: 2vh;
  max-width: inherit;
  gap: 10px;
}

.searchLink {
  font-size: large;
  font-weight: 600;
  align-self: end;
  padding: 1vh 1.5vw;
  margin: 2vh 0vw;
  border: 2px double rgba(215, 226, 198, 0.637);
  border-radius: 8px;
  text-shadow: 1px 1px 1px #d9edc7;
}

.searchLink:hover {
  background-color: rgba(215, 226, 198, 0.637);
  color: #255735;
}

.listTitle {
  padding-top: 2vh;
}

.dropdown {
  display: none;
  position: absolute;
  justify-self: center;
}

.pattern:hover > .dropdown {
  z-index: 2;
  display: grid;
  position: absolute;
}

.patternCard {
  overflow: hidden;
  padding: 0px 0.5vw 3vh 0.5vw;
}
