.profile {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  width: 100%;
}

.banner {
  width: 35vw;
  margin-left: 5vw;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vh 7vw;
  border: 1px solid rgba(87, 129, 93, 0.192);
  border-radius: 8px;
  margin-bottom: 2.5vh;
}

.username {
  font-size: x-large;
  padding-right: 10px;
}

.posts {
  justify-content: center;
  padding-right: 21vw;
}

.sidebar {
  margin-right: 1vw;
  position: fixed;
  right: 0;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  background-color: rgba(165, 216, 186, 0.829);
  padding: 2.5vh;
  border-radius: 3px;
  width: fit-content;
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .banner {
    justify-self: center;
    margin: 0px;
  }
  .posts {
    padding: 0px;
  }
}
