.profile {
  display: flex;
  flex-direction: column;
  padding-top: 2vh;
  width: 100%;
  /* justify-content: space-between; */
}

.profileContainer {
  display: flex;
  flex-direction: row;
}

.topContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0vh 8vw;
  background-color: rgba(228, 245, 220, 0.486);
  border-radius: 8px;
  margin-bottom: 2.5vh;
}

.posts {
  /* flex-grow: 2; */
  /* display: flex; */
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* align-items: center;
  justify-content: center; */
  background-color: rgba(224, 245, 212, 0.644);
  border-radius: 8px;
  padding: 2vh 0vw;
  display: inline-block;
}
