.dashboard {
  display: flex;
  flex-direction: column;
}

.listButton {
  margin: 1.5em 1em;
  padding: 0.6em 1.8em;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #255735;
  background-color: rgba(68, 107, 78, 0.815);
  color: #d9f0d7;
  font-size: 1.1em;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
  background-color: rgba(91, 134, 102, 0.815);
}

.list {
  display: flex;
  flex-direction: column;
}

.link {
  font-size: large;
  font-weight: 600;
  align-self: end;
  padding: 1vh 3vw;
  margin: 0px 4vw;
  border: 2px double #8ccc9f;
  border-radius: 8px;
  text-shadow: 1px 1px 1px #d9edc7;
}
.link:hover {
  background-color: #8ccc9f;
  color: #255735;
}

.patterns {
  /* width: 85cap; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.patternCard {
  width: 180px;
  height: 300px;
  overflow: hidden;
}
