.home {
  display: flex;
  justify-content: space-between;
}

.userSearch {
  margin-right: 20px;
  position: fixed;
  right: 0;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  background-color: rgba(165, 216, 186, 0.829);
  padding: 2.5vh;
  border-radius: 3px;
  min-width: fit-content;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.listButtons {
  display: flex;
  align-self: center;
  overflow-x: auto;
  max-height: 10vh;
}

.listButton {
  margin: 1.5vh 1vw;
  min-width: fit-content;
  padding: 1.2vh 3.4vw;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #348e51;
  background-color: rgb(227, 247, 219);
  color: rgb(41, 122, 61);
  font-size: 1.1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.listButton:hover {
  background-color: #c2e0bf;
}

.list {
  display: flex;
  flex-direction: column;
}

.link {
  font-size: large;
  font-weight: 600;
  align-self: end;
  padding: 1vh 3vw;
  margin: 0px 4vw;
  border: 2px double #8ccc9f;
  border-radius: 8px;
  text-shadow: 1px 1px 1px #d9edc7;
}
.link:hover {
  background-color: #8ccc9f;
  color: #255735;
}

.searchLink {
  padding-top: 50px;
  font-size: large;
  text-shadow: 1px 1px 1px #d9edc7;
}

.patterns {
  width: 65vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.patternCard {
  overflow: hidden;
  padding: 0px 0.5vw 3vh 0.5vw;
}

.dropdown {
  display: none;
  position: absolute;
  transform: translate(10px, 50px);
}

.patternCard:hover > .dropdown {
  z-index: 2;
  display: grid;
  position: absolute;
}
