.home {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 60vw;
  padding-right: 13vw;
}

.heading {
  justify-self: start;
  padding-left: 6vw;
}

.userSearch {
  margin-right: 40px;
  position: fixed;
  right: 0;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  background-color: rgba(165, 216, 186, 0.829);
  padding: 2.5vh;
  border-radius: 3px;
  min-width: fit-content;
}

.postsContainer {
  padding-top: 100px;
}

.posts {
  width: max-content;
  justify-self: center;
  padding-right: 10vw;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.listButtons {
  display: flex;
  align-self: center;
  overflow-x: auto;
  height: 10vh;
}

@keyframes animation {
  0% {
    font-size: 1.1em;
  }
  25% {
    font-size: 1.15em;
  }
  50% {
    font-size: 1.1em;
  }
  75% {
    font-size: 1.15em;
  }
  100% {
    font-size: 1.1em;
  }
}

.selectList {
  position: absolute;
  align-self: center;
  padding-top: 70px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.listButton {
  margin: 1.5vh 1vw;
  min-width: fit-content;
  height: fit-content;
  padding: 12px 34px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #348e51;
  background-color: rgb(227, 247, 219);
  color: rgb(41, 122, 61);
  font-size: 1.1em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}

.listButton:hover {
  background-color: #c2e0bf;
}

.list {
  display: flex;
  flex-direction: column;
}

.link {
  font-size: large;
  font-weight: 600;
  align-self: end;
  padding: 1vh 3vw;
  margin: 0px 4vw;
  border: 2px double #8ccc9f;
  border-radius: 8px;
  text-shadow: 1px 1px 1px #d9edc7;
}
.link:hover {
  background-color: #8ccc9f;
  color: #255735;
}

.searchLink {
  padding-top: 50px;
  font-size: large;
  text-shadow: 1px 1px 1px #d9edc7;
}

.patterns {
  width: 55vw;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.patternCard {
  overflow: hidden;
  padding: 0px 0.5vw 3vh 0.5vw;
}

.dropdown {
  display: none;
  position: absolute;
  transform: translate(10px, 50px);
}

.patternCard:hover > .dropdown {
  z-index: 2;
  display: grid;
  position: absolute;
}

@media screen and (max-width: 1200px) {
  .userSearch {
    display: none;
  }
  .heading {
    justify-self: center;
    padding: 0vw;
  }
  .main {
    padding: 0px;
    width: 100%;
  }
  .posts {
    min-width: max-content;
    padding: 0vw;
  }
  .patterns {
    width: 65vw;
  }
}
