.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2vh;
}

.posts {
  padding: 2vh 22vw 0px 0px;
}

.sidebar {
  margin-right: 1vw;
  position: fixed;
  right: 0;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  background-color: rgba(165, 216, 186, 0.829);
  padding: 2.5vh;
  border-radius: 3px;
  width: fit-content;
}

@media screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  .posts {
    justify-content: center;
    padding: 0px;
  }
}
