.feed {
  display: flex;
}

.posts {
  padding: 0vh 200px 0px 0px;
}

.sidebar {
  margin-right: 70px;
  position: fixed;
  right: 0;
  max-height: 75%;
  display: flex;
  flex-direction: column;
  background-color: rgba(165, 216, 186, 0.829);
  padding: 2.5vh;
  border-radius: 3px;
  min-width: fit-content;
}

.follows {
  display: flex;
  align-self: center;
}

.followButton {
  margin-right: 5px;
  font-size: smaller;
  padding: 5px 18px;
}

.users {
  padding: 5px 0px 2px 8px;
  justify-items: start;
}
