.header {
  display: flex;
  align-items: center;
  font-size: large;
}

.linksContainer {
  padding-left: 30vh;
  flex-grow: 1;
}

.name {
  font-weight: 800;
  font-size: larger;
  flex-grow: 3;
}

.links {
  padding: 3vh;
}
