.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-bottom: 3vh;
}

.name {
  font-weight: 800;
  font-size: x-large;
  text-shadow: 3px 3px 3px #d9edc7;
  min-width: fit-content;
}

.links {
  min-width: fit-content;
}

.link {
  font-weight: 700;
  padding-left: 3vw;
  text-shadow: 2px 2px 2px #d9edc7;
}

.logout {
  font-size: 16px;
  font-weight: 700;
  color: #114e09;
  text-decoration: inherit;
  background-color: transparent;
  border: none;
  padding-left: 3vw;
  text-shadow: 2px 2px 2px #d9edc7;
}
.logout:hover {
  color: #6dad69;
  background-color: transparent;
  border: none;
}
