.searchPage {
  display: flex;
}

.sidebar {
  position: fixed;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: rgba(211, 236, 207, 0.603);
  margin: 11px;
  padding: 0px 10px;
  min-width: fit-content;
}

.body {
  width: 80%;
  padding: 5vh 0vw 0vh 300px;
}

.searchResults {
  padding-top: 20px;
}

.widenSearch {
  cursor: pointer;
  display: flex;
  padding-left: 10px;
  align-items: center;
  font-weight: 600;
  color: rgb(74, 92, 69);
}

.userInput {
  display: flex;
  justify-content: center;
}

.input {
  width: 45%;
}

.searchButton {
  margin: 0px 5px;
  padding: 2.5px 10px;
}

.label {
  padding: 0px 10px;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pattern {
  padding-bottom: 15px;
}
