.searchPage {
  display: flex;
}

.sidebar {
  position: fixed;
  max-height: 76vh;
  overflow-y: scroll;
  background-color: rgba(211, 236, 207, 0.603);
  margin: 11px;
  padding: 0px 10px 8px;
  min-width: fit-content;
}

.body {
  padding: 2vh 1vw 0vh 24vw;
}

@media screen and (max-width: 1250px) {
  .sidebar {
    display: none;
  }
  .body {
    padding-left: 1vw;
    width: 87vw;
    justify-self: center;
  }
}

.searchResults {
  padding-top: 20px;
}

.widenSearch {
  cursor: pointer;
  display: flex;
  padding-left: 10px;
  align-items: center;
  font-weight: 600;
  color: rgb(74, 92, 69);
}

.userInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 30vw;
  font-size: medium;
  padding: 6px 0px 4px 8px;
}

.searchButton {
  margin: 0px 0px;
  padding: 6px 8px 4px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

.label {
  padding: 0px 10px;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pattern {
  padding-bottom: 5vh;
}

.dropdown {
  display: none;
  position: absolute;
  justify-self: center;
}

.pattern:hover > .dropdown {
  z-index: 2;
  display: grid;
  position: absolute;
}
