#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.headerLinks {
  display: flex;
  padding-left: 40vh;
  gap: 5vh;
}

.patternCardWrapper {
  width: 150vh;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  align-items: end;
}

.patternCard {
  padding-left: 2vh;
  padding-right: 2vh;
}
