#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: rgba(200, 233, 209, 0.815);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 7rem;
  color: #114e09;
}

.card {
  padding: 2em;
}
