:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(177, 219, 188);
}
#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: rgba(91, 173, 111, 0.644);
}

a {
  font-weight: 500;
  color: #114e09;
  text-decoration: inherit;
}
a:hover {
  color: #6dad69;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  color: rgba(41, 61, 46, 0.815);
}

button {
  border-radius: 8px;
  border: 1px solid #255735;
  background-color: rgba(68, 107, 78, 0.815);
  color: #d9f0d7;
  cursor: pointer;
  font-family: inherit;
}
button:hover {
  background-color: rgba(91, 134, 102, 0.815);
}
button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #8b8b8b;
  cursor: auto;
}

input {
  padding: 0.2em;
  border-radius: 3px;
  border-color: rgb(59, 129, 68);
  border-width: 0.02em;
}
